<div class="text-center">
    <main class="form-signin w-100 m-auto">
        <form >
            <img class="mb-4" src="../../../../assets/logo-nav.png" alt="logo-app" width="72" height="57">
            <!-- <h1 class="h3 mb-3 fw-normal">Por favor, registrese</h1> -->
            <div class="form-floating mb-2">
                <input 
                    type="email"
                    [(ngModel)]="this.email"
                    name="email"
                    required="required"
                    class="form-control"  
                    placeholder="nombre@ejemplo.com"
                >
                <label for="floatingInput">Mail</label>
            </div>
            <div class="form-floating mb-4">
                <input 
                    type="password"
                    class="form-control" 
                    [(ngModel)]="this.password"
                    name="password"
                    placeholder="Password"
                    required="required"
                >
                <label for="floatingPassword">Contraseña</label>
            </div>
            <div class="form-floating mb-4">
                <span class="text-danger">{{this.msjError}}</span>
            </div>
            <button class="w-100 btn btn-lg btn-primary mb-1" type="submit" (click)="login()">Iniciar sesión</button>
            <button class="w-100 btn btn-lg btn-dark" type="submit" (click)="userA()">Usuario de prueba</button>
        </form>
    </main>

</div>
