.chat-yo{
    background-color: rgb(191, 191, 191);
}

.chat-otro{
    background-color: rgb(133, 207, 133);
}

.scrollbar{
    position: relative;
    max-height:430px;
    overflow: auto;
}

@media (max-width: 500) {
    .scrollbar{
        max-height:430px!important;
    }
}   