<div class="containter text-center card mb-3" style="">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="../../../../assets/quien-soy.jfif" class="img-fluid rounded-start" alt="img-programador" >
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">Valentin Laplume</h5>
        <p class="card-text">Estudiante de la Tecnicatura en Programación en la Universidad Tecnológica Nacional</p>
      </div>
    </div>
  </div>
</div>
<div class="container text-center">
  <div class="card">
    <img src="../../../../assets/te-encuentro.png" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Te Encuentro</h5>
      <p class="card-text">Se trata de encontrar a la carita que está mirando hacia el lado contrario de la mayoria, si adivinas se sumas 10 puntos, si la respuesta es incorrecta o te quedas sin tiempo, se restan 5 puntos.</p>
    </div>
  </div>
</div>
