<!-- ------------- -->
<div class="row row-cols-1 row-cols-md-2 g-0">
    <div class="col">
      <div class="card">
        <a class="dropdown-item" [routerLink]="['mayorOMenor']">
          <img src="../../../../assets/mayoromenor.png" class="card-img-top" alt="...">
        </a>
        <div class="card-body">
        <h5 class="card-title">Mayor o Menor</h5>
        <p class="card-text">Se le pregunta a la jugador si cree que la siguiente carta que saldrá será menor o mayor.</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <a class="dropdown-item" [routerLink]="['preguntados']">
          <img src="../../../../assets/preguntados.png" class="card-img-top" alt="...">
        </a>
        <div class="card-body">
          <h5 class="card-title">Preguntados</h5>
          <p class="card-text">Preguntas y respuestas acerca de cocktails.</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <a class="dropdown-item" [routerLink]="['ahorcado']">
          <img src="../../../../assets/ahorcado.jpg" class="card-img-top" alt="...">
        </a>
        <div class="card-body">
          <h5 class="card-title">Ahorcado</h5>
          <p class="card-text">Al azar se le asigna una palabra, frase u oración y el jugadpr debe adivinarla según lo que sugiere por letras.</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <a class="dropdown-item" [routerLink]="['teEncuentro']">
          <img src="../../../../assets/te-encuentro.png" class="card-img-top" alt="...">
        </a>
        <div class="card-body">
          <h5 class="card-title">Te Encuentro</h5>
          <p class="card-text">Se trata de encontrar a la carita que está mirando hacia el lado contrario de la mayoria, si adivinas se sumas 10 puntos, si la respuesta es incorrecta o te quedas sin tiempo, se restan 5 puntos.</p>
        </div>
      </div>
    </div>
  </div>
