
<!-- <div *ngIf="true"  class="text-center">
    <br>
    <h1>HOME</h1>
    <br>
    <img src="../../../../assets/EN PROCESO.png" width="30%" height="30%">
</div> -->

<div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
      <div class="card">
        <img src="../../../../assets/mayoromenor.png" class="card-img-top" alt="...">
        <div class="card-body">
        <h5 class="card-title">Mayor o Menor</h5>
        <p class="card-text">Se le pregunta a la jugador si cree que la siguiente carta que saldrá será menor o mayor.</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="../../../../assets/preguntados.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Preguntados</h5>
          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="../../../../assets/ahorcado/7.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Ahorcado</h5>
          <p class="card-text">Al azar se le asigna una palabra, frase u oración y el jugadpr debe adivinarla según lo que sugiere por letras.</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="../../../../assets/EN PROCESO.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        </div>
      </div>
    </div>
  </div>
